footer.main-footer.wow.fadeInUp
    .container
        .col-md-8.col-sm-12
            .row
                nav.footer-nav
                    ul
                        li
                            a.animsition-link.link(href='index.html') Home
                        li
                            a.animsition-link.link(href='about.html') about us
                        li
                            a.animsition-link.link(href='services.html') services
                        li
                            a.animsition-link.link(href='portfolio_1.html') portfolio
                        li
                            a.animsition-link.link(href='blog_1.html') blog
                        li
                            a.animsition-link.link(href='contact.html') contact us
        .col-md-4.col-sm-12(style='text-align:right')
            .row
                .uppercase.gray-text
                    | created by akhouad ©2016. all rights reserved.
                ul.social-icons(style='margin-top:30px;float:right')
                    li
                        a(href='#')
                            i.icon.ion-social-facebook
                    li
                        a(href='#')
                            i.icon.ion-social-twitter
                    li
                        a(href='#')
                            i.icon.ion-social-youtube
                    li
                        a(href='#')
                            i.icon.ion-social-linkedin
                    li
                        a(href='#')
                            i.icon.ion-social-pinterest
                    li
                        a(href='#')
                            i.icon.ion-social-instagram
