header.main-header
    .container
        .logo
            a(href='index.html')
                img(src='public/img/logo/logo.png', alt='logo')
        .menu
            nav.desktop-nav
                ul.first-level
                    li
                        a.animsition-link(href='index.html') Home
                    li
                        a.animsition-link(href='about.html') about us
                    li
                        a.animsition-link(href='services.html') services
                    li
                        a(href='') portfolio
                        ul.second-level
                            li
                                a.animsition-link(href='portfolio_1.html') portfolio list
                            li
                                a.animsition-link(href='single_project.html') single project 1
                            li
                                a.animsition-link(href='single_project_2.html') single project 2
                    li
                        a(href='') blog
                        ul.second-level
                            li
                                a.animsition-link(href='blog_1.html') posts list
                            li
                                a.animsition-link(href='single_post.html') single post
                    li
                        a.animsition-link(href='contact.html') contact us
            nav.mobile-nav
            .menu-icon
                .line
                .line
                .line
