extends ../views/layout/index.pug

block variables
    - var title = 'Portfolio-1';
    - var description = 'Portfolio-1 Description';
    - var page_class = 'portfolio-1';

block content
    // HERO SECTION
    .site-hero_2
        .page-title
            .big-title.montserrat-text.uppercase our work
            .small-title.montserrat-text.uppercase home / portfolio
    // PORTFOLIO
    section.portfolio
        .container
            // categories
            .col-md-3
                .row.categories-grid.wow.fadeInLeft
                    span.montserrat-text.uppercase choose category
                    nav.categories
                        ul.portfolio_filter
                            li
                                a.active(href='' data-filter='*') all
                            li
                                a(href='' data-filter='.photography') photography
                            li
                                a(href='' data-filter='.web') webdesign
                            li
                                a(href='' data-filter='.logo') logo
                            li
                                a(href='' data-filter='.graphics') graphics
                            li
                                a(href='' data-filter='.ads') advertising
                            li
                                a(href='' data-filter='.fashion') fashion
            // all works
            .col-md-9
                .row.portfolio_container
                    // single work
                    .col-md-4.photography
                        a.portfolio_item.wow.fadeInUp(href='single_project.html')
                            img(src='public/img/pages/work-1.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span Brave man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.fashion.logo
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.1s')
                            img(src='public/img/pages/work-2.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span super man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.ads.graphics
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.2s')
                            img(src='public/img/pages/work-3.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span bat man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.fashion.ads
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.3s')
                            img(src='public/img/pages/work-4.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span spider man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.graphics.ads
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.4s')
                            img(src='public/img/pages/work-5.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.logo.web.photography
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.5s')
                            img(src='public/img/pages/work-6.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.ads.graphics
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.6s')
                            img(src='public/img/pages/work-7.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.web.fashion.photography
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.7s')
                            img(src='public/img/pages/work-8.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.fashion.logo
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.8s')
                            img(src='public/img/pages/work-9.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.fashion.logo
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='.9s')
                            img(src='public/img/pages/work-1.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.fashion.logo
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='1s')
                            img(src='public/img/pages/work-2.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.fashion.logo
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='1.1s')
                            img(src='public/img/pages/work-3.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.fashion.logo
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='1.2s')
                            img(src='public/img/pages/work-4.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                    // single work
                    .col-md-4.fashion.logo
                        a.portfolio_item.wow.fadeInUp(href='single_project.html' data-wow-delay='1.3s')
                            img(src='public/img/pages/work-1.png' alt='image')
                            .portfolio_item_hover
                                .item_info
                                    span iron man
                                    em photography
                    // end single work
                // end row
            // all works end
        // end container
    // portfolio
    // newsletter
    section.green-section.wow.fadeInUp(style='padding:50px 0')
        .container
            .col-md-6.col-sm-12
                .row
                    span.white-text.montserrat-text.uppercase(style='font-size:30px;display:block;')
                        | you think we&apos;re cool? let&apos;s work together
                    a.btn.white(href='#' style='margin-top:30px')
                        span get in touch
            .col-md-6.col-sm-12
                .row
                    .white-section(style='padding:20px')
                        span.montserrat-text.uppercase(style='font-size:24px') stay informed with our newsletter
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        form(action='#' method='post')
                            .input_1
                                input(type='text' name='email')
                                span your email
                            button.btn.green(type='submit' style='margin-top:20px')
                                span send
